[user]
	email = dominik.rosser@protonmail.ch
	name = dominikrosser
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[http]
	sslCAinfo = /etc/ssl/certs/ca-certificates.crt
